<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

    <div class="container-sm">
        <div class="row row-cols-1 gy-2">
            <div class="col">
                <h1>ESTA ES LA LISTA DE USUARIOS</h1>
                <a class="btn btn-outline-success" href="#" id="btn-addSucursal">Agregar Usuario</a>
            </div>
            <div class="col">
                <div class="row row-cols-1 row-cols-md-3 justify-content-center">
                    <div class="col col-md-10 col-lg-8 col-xl-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover align-middle text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">Codigo</th>
                                        <th scope="col">Password</th>
                                        <th scope="col">ID Empleado</th>
                                        <th scope="col">ID Sucursal</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% let c=0 %>
                                        <!-- Sintaxis ES6 -->
                                        <% for (let car of usuarios) { %>
                                            <% c++ %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= c %>
                                                    </th>
                                                    <td>
                                                        <%= car.id %>
                                                    </td>
                                                    <td>
                                                        <%= car.pass %>
                                                    </td>
                                                    <td>
                                                        <%= car.idEmp %>
                                                    </td>
                                                    <td>
                                                        <%= car.idSuc %>
                                                    </td>
                                                    <td>
                                                        <%= car.estado %>
                                                    </td>
                                                    <td class="d-flex justify-content-center justify-content-xs-end">
                                                        <button class="btn btn-warning me-1 modificar">Modificar</button>
                                                        <a class="btn btn-danger ms-1 eliminar"
                                                            href="/cargos/delete_cargo/<%= car.id %>">Eliminar</a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="col-md-1 col-lg-2 col-xl-3">
                        
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="/js/usuario.js"></script>
</body>

<!-- modal para agregar un nuevo cargo 
<div class="modal face" id="modal_addSucursal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-mb" class="modal-title">Agregar un Sucursal</h5>
            </div>
            <div class="modal-body">
                <form action="/sucursales/add_Sucursal" method="post">
                    <div class="mb-3">
                        <label for="idSucursal" class="form-label">Id Sucursal</label>
                        <input type="text" class="form-control" id="idSucursal" name="cod">
                        <div id="idSucursalHelp" class="form-text">El id se generará de forma automatica.</div>
                    </div>
                    <div class="mb-3">
                        <label for="aliasSucursal" class="form-label">Alias Sucursal</label>
                        <input type="text" class="form-control" id="aliasSucursal" name="alias">
                    </div>
                    <div class="mb-3">
                        <label for="aliasCiudad" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="aliasCiudad" name="ciudad">
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
-->
<!-- modal para modificar un cargo 
<div class="modal face" id="modal_EditSucursal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-mb" class="modal-title">Mofificar Sucursal</h5>
            </div>
            <div class="modal-body">
                <form action="/sucursales/edit_Sucursal" method="post">
                    <div class="mb-3">
                        <label for="idSucursal" class="form-label">Id Sucursal</label>
                        <input type="text" class="form-control" id="idSucursal-m" name="cod">
                        <div id="idSucursalHelp" class="form-text">El id se generará de forma automatica.</div>
                    </div>
                    <div class="mb-3">
                        <label for="aliasSucursal" class="form-label">Alias Sucursal</label>
                        <input type="text" class="form-control" id="aliasSucursal-m" name="alias">
                    </div>
                    <div class="mb-3">
                        <label for="aliasCiudad" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad-m" name="ciudad">
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
-->

</html>